<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBX6yG1vWHPmnt7q1SoPfZbXv807687NF8</string>
	<key>GCM_SENDER_ID</key>
	<string>699379491822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneApp</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-app-4d846</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-app-4d846.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699379491822:ios:5243b58b7ea95c0ccb64ff</string>
</dict>
</plist>